@import "settings.scss";

.app-header {
    background: $app-header-background-colour;
    color: $app-header-text-colour;
    padding-top: govuk-spacing(4);
    padding-bottom: govuk-spacing(4);
}
.app-header [class^=govuk-]:not(:focus) {
    color: inherit;
}

.app-header-container {
    display: flex;
    gap: govuk-spacing(8);
    align-items: center;
}

.app-header-logo {
    display: flex;
    gap: govuk-spacing(2);
    align-items: center;
}

.app-header-logo:not(:focus):not(:hover) {
    text-decoration: none;
}

.app-header-icon svg {
    display: block;
    height: 2rem;
    width: 2rem;
    fill: currentColor;
}

.app-header-title {
    @include govuk-font(27, $weight: "bold");
}

.app-header-servicename {
    @include govuk-font(24, $weight: "bold");
}